# Python
__pycache__/
*.pyc
venv/
env/
.venv/
*.py[cod]
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Modelos (si agregas después)
*.pkl
*.h5
*.pt
*.pth
*.safetensors

# Variables de entorno
.env
