# Entornos virtuales
venv/
env/
*.pyc
__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp

# Imágenes de prueba (opcional)
*.jpg
*.jpeg
*.png
*.bmp
*.tiff

# Configuraciones locales
.env
*.local
